<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Fecha Inicio</th>
      <th>Covertura</th>
      <th>Precio</th>
      <th>Tipo de Riesgo</th>
      <th>Porcentaje</th>
      <th>Tipos de Póliza</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let insurance of insurances">
      <td>{{ insurance.Name}}</td>
      <td>{{ insurance.Description}}</td>
      <td>{{ insurance.InitialDate}}</td>
      <td>{{ insurance.Coverage}} meses</td>
      <td>{{ insurance.Price}}</td>
      <td>{{ getTypeOfRisk(insurance.TypeOfRisk)}}</td>
      <td>{{ insurance.CoveragePercentage}}</td>
      <td> <div *ngFor="let policyType of insurance.PolicyTypes.split(',')">{{ getDescription(policyType) }}</div></td>
      <td>
        <button type="button" class="btn btn-primary" (click)="editForm(insurance.Id)">Editar</button>
        <button type="button" class="btn btn-danger" (click)="deleteInsurance(insurance.Id)">Eliminar</button>
      </td>
  </tbody>
</table>
